@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');

body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
}

.wrapper {
  background-image: url('img/fon.png');
  width: 100%;
  min-height: 1024px;
}

a {
    text-decoration: none;
}
header nav ul li:not(.home):not(.btn) a {
    color: black;
}
header nav ul li.btn a {
    background: #5956E9;
    padding: 12px 15px 8px 16px;
    border-radius: 5px;
    color: white;
}

.container {
    width: 1171px;
    margin: 0 auto;
    padding: 91px 0;
}

header {
    padding: 40px 0;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul li {
    color: black;
}

.logo {
    width: 167px;
    height: 28px;
    padding: 30px 17px 32px 16px;
}

.logo-wrapper {
    background-color: white;
    border-radius: 5px;
    width: 200px;
    height: 90px;
}

header nav {
    background-color: white;
    width: 100%;
    height: 60px;
    border-radius: 5px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
}

.left {
    list-style: none;
    gap: 40px;
    float: left;
    font-size: 20px;
    padding: 0 110px 0 5px;
}

.right {
    list-style: none;
    gap: 40px;
    float: right;
    font-size: 20px;
    padding: 0 5px 0 39px;
}

.home {
    text-decoration: underline;
}
.hero {
    padding-bottom: 40px;
}

.hero--info {
    width: 570px;
    height: 432px;
    background-color: white;
}

.hero--info h1 {
    color: #5956E9;
    font-size: 48.83px;
    font-weight: 700;
    padding: 40px 23px 0 30px;
    line-height: 130%;
}
.hero--info p {
    color: #6C6C72;
    font-size: 16px;
    font-weight: 400;
    padding: 18px 53px 52px 30px;
    line-height: 24px;
}

.hero--info h2 {
    color: #232233;
    font-size: 25px;
    font-weight: 600;
    padding: 0 0 5px 30px;
}

.mobilka {
    position: absolute;
    width: 646px;
    height: 725px;
    left: 879px;
    top: 246px;
}
.contact-item {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 0 0 20px 0;
}
.mail {
    width: 18px;
    height: 18px;
}
.contact-item a {
    color: white;
}
.phone {
    padding: 0 18px 0 47px;
}

.four-elements {
    width: 162px;
    height: 18px;
    padding: 0 0 0 580px;
}
.google {
    position: absolute;
    width: 149px;
    height: 47px;
    padding: 5px 14px 40px 30px;
}
.appstore {
    position: absolute;
    width: 149px;
    height: 47px;
    padding: 3px 226px 40px 193px;
}


.wrapper2 {
    width: 1144px;
    height: 774px;
    padding: 120px 220px 120px 161px;
    position: relative;
}
.container2 h1 {
    text-align: center;
    top: 120px;
}

.container2 h2 {
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    color: #6C6C72;
    font-size: 16px;
    width: 601px;
    padding: 18px 285px 638px 258px;
}
.androed {
    width: 386px;
    height: 526px;
    padding: 196px 758px 52px 0;
    position: absolute;
}

.galka {
    width: 24px;
    height: 24px;
    position: absolute;
    padding: 30px 528px 106px 18px;
}
.pryamo h2 {
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    padding: 33px 327px 0px 59px;
}
.pryamo h3 {
    font-weight: 400;
    text-align: left;
    line-height: 24px;
    color: #6C6C72;
    font-size: 16px;
    width: 491px;
    padding: 12px 20px 21px 59px;
}
.pryamo {
    width: 570px;
    height: 160px;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
    border-radius: 10px;
    position: absolute;
    margin: 196px 0 418px 574px;
}

.pryamo2 h2 {
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    padding: 33px 376px 0px 60px;
}

.pryamo2 h3 {
    font-weight: 400;
    text-align: left;
    line-height: 24px;
    color: #6C6C72;
    font-size: 16px;
    width: 491px;
    padding: 12px 20px 21px 59px;
}

.pryamo2 {
    width: 570px;
    height: 160px;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
    border-radius: 10px;
    position: absolute;
    margin: 396px 0 418px 574px;
}

.galka2 {
    width: 24px;
    height: 24px;
    position: absolute;
    padding: 30px 528px 106px 18px;
}

.pryamo3 h2 {
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    padding: 33px 279px 0px 60px;
}

.pryamo3 h3 {
    font-weight: 400;
    text-align: left;
    line-height: 24px;
    color: #6C6C72;
    font-size: 16px;
    width: 491px;
    padding: 12px 20px 21px 59px;
}

.pryamo3 {
    width: 570px;
    height: 160px;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
    border-radius: 10px;
    position: absolute;
    margin: 596px 0 418px 574px;
}

.galka3 {
    width: 24px;
    height: 24px;
    position: absolute;
    padding: 30px 528px 106px 18px;
}

.blok3 {
  background-image: url('img/fon.png');
  width: 1440px;
  min-height: 1710px;
  position: relative;
}

.traid {
    position: absolute;
    width: 375px;
    height: 812px;
    border-radius: 40px;
    top: 547px;
    left: 532px;
}

.blok33 h1 {
    font-weight: 700;
    font-size: 31.25px;
    text-align: center;
    color: white;
    position: relative;
    top: 120px;
}

.blok33 h2 {
    width: 601px;
    height: 70px;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    padding: 186px 420px 0px 419px;
    color: #FFFFFF;
    font-size: 16px;
}

.blok33 h3 {
    color: white;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    padding: 22px 613px 0 613px;
}
.comment {
    width: 50px;
    height: 50px;
    padding: 60px 694px 0 696px;
}
.blok3 h4 {
    color: white;
    width: 297px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 18px 572px 0 571px;
    line-height: 24px;
}

.iphone {
    width: 50px;
    height: 50px;
    padding: 122px 433px 0 957px;
}

.blok33 .iso {
    color: white;
    font-weight: 600;
    font-size: 25px;
    text-align: left;
    padding: 22px 128px 0px 966px;
}

.blok33 .text {
    text-align: left;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 18px 177px 0px 966px;
}

.retinaa {
    width: 56px;
    height: 56px;
    padding: 342px 418px 0 966px;
}
.blok33 .retina {
    color: white;
    font-weight: 600;
    font-size: 25px;
    text-align: left;
    padding: 22px 132px 0px 966px;
}
.blok33 .text2 {
    text-align: left;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 18px 177px 0px 966px;
}
.sup {
    width: 50px;
    height: 50px;
    padding: 100px 695px 0 695px;
}
.blok33 .support {
    color: white;
    font-weight: 600;
    font-size: 25px;
    padding: 30px 501px 0 500px;
}
.blok33 .browser {
    color: white;
    font-weight: 600;
    font-size: 25px;
    text-align: right;
    padding: 423px 60px 0px 193px; 
}
.elem2 .brow {
    width: 50px;
    height: 50px;
    padding: 300px 60px 0 422px;
}