@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');

body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
}

.wrapper {
  background-image: url('img/fon.png');
  width: 100%;
  min-height: 1024px;
}

a {
    text-decoration: none;
}
header nav ul li:not(.home):not(.btn) a {
    color: black;
}
header nav ul li.btn a {
    background: #5956E9;
    padding: 12px 15px 8px 16px;
    border-radius: 5px;
    color: white;
}

.container {
    width: 1171px;
    margin: 0 auto;
    padding: 91px 0 0 0;
}

header {
    padding: 40px 0;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul li {
    color: black;
}

.logo {
    width: 167px;
    height: 28px;
    padding: 30px 17px 32px 16px;
}

.logo-wrapper {
    background-color: white;
    border-radius: 5px;
    width: 200px;
    height: 90px;
}

header nav {
    background-color: white;
    width: 100%;
    height: 60px;
    border-radius: 5px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
}

.left {
    list-style: none;
    gap: 40px;
    float: left;
    font-size: 20px;
    padding: 0 110px 0 5px;
}

.right {
    list-style: none;
    gap: 40px;
    float: right;
    font-size: 20px;
    padding: 0 5px 0 39px;
}

.home {
    text-decoration: underline;
}
.hero {
    padding-bottom: 40px;
}

.hero--info {
    width: 570px;
    height: 432px;
    background-color: white;
}

.hero--info h1 {
    color: #5956E9;
    font-size: 48.83px;
    font-weight: 700;
    padding: 40px 23px 0 30px;
    line-height: 130%;
}
.hero--info p {
    color: #6C6C72;
    font-size: 16px;
    font-weight: 400;
    padding: 18px 53px 52px 30px;
    line-height: 24px;
}

.hero--info h2 {
    color: #232233;
    font-size: 25px;
    font-weight: 600;
    padding: 0 0 5px 30px;
}

.mobilka {
    position: absolute;
    width: 646px;
    height: 725px;
    left: 879px;
    top: 246px;
}
.contact-item {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 0 0 20px 0;
}
.mail {
    width: 18px;
    height: 18px;
}
.contact-item a {
    color: white;
}
.phone {
    padding: 0 18px 0 47px;
}

.four-elements {
    width: 162px;
    height: 18px;
    padding: 0 0 0 580px;
}
.google {
    position: absolute;
    width: 149px;
    height: 47px;
    padding: 5px 14px 40px 30px;
}
.appstore {
    position: absolute;
    width: 149px;
    height: 47px;
    padding: 3px 226px 40px 193px;
}



.about-our-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.androed {
    max-width: 386px;
    width: 100%;
    height: 526px;
}

.shapka-2 {
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47.25px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.podshapka-container {
    max-width: 601px;
    width: 100%;
    text-align: center;
}

.podshapka-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6C6C72;
}

.cartochka {
    max-width: 570px;
    width: 100%;
    padding: 30px 20px 20px 20px;
    box-shadow: 0px 1px 10px 0px #0000001A;
    border-radius: 10px;
    background: #FFFFFF;
    display: flex;
    gap: 17px;
}

.galka {
    align-self: flex-start;
}

.text-vnutri {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.text-vnutri h2 {
    font-weight: 600;
    font-size: 20px;
}

.blok-2-pic {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cartochki {
    display: flex;
    flex-direction: column;
    gap: 40px;
}



.app-features-wrapper {
    background: url('img/fon.png') no-repeat center center / cover;
    width: 1440px;
}


.app-features-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.app-features-title {
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47.25px;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
}

.app-features-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.app-features-block-wrapper {
    display: flex;
    justify-content: space-between;
}

.app-features-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 346px;
}

.app-features-outer-block {
    align-items: center;
}

.app-features-image {
    max-width: 50px;
    width: 100%;
    height: 50px;
}

.app-features-inner-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #FFFFFF;
    padding: 60px 0 60px 0;
}

.app-features-inner-block-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #FFFFFF;
    padding: 60px 0 60px 0;
    text-align: right;
}

.app-features-inner-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
    vertical-align: bottom;
    text-transform: uppercase;

}

.app-features-inner-title h3 {
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
    vertical-align: bottom;
    text-transform: uppercase;
}

.app-features-inner-title-niz h3 {
    font-size: 20px;
    font-weight: 600;
}

.app-features-inner-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 297px;
}

.app-features-inner-subtitle-verx-niz {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 297px;
    text-align: center;
}

.app-features-inner-subtitle-left {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 297px;
    padding: 0 0 0 49px;
}

.app-features-phone-image {
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.app-features-left-side-image {
    align-self: flex-end;
}

.blok4 {
    background-color: #232233;
    width: 1440px;
    height: 542px;
}
.vse-elem {
    width: 1169px;
    margin: 0 auto;
    display: flex;
    color: white;
    margin-top: 235px;
    gap: 246px;
}
.elements {
    display: flex;
    gap: 66px;
}

.title-logo {
    font-size: 31.25px;
    font-weight: 700;
}
.title-subtitle {
    margin-bottom: 38px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.subt {
    font-size: 16px;
    line-height: 24px;
    width: 334px;
}
.icons-4-4 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.palka {
    border-right: 1px solid white;
}
.icons-4 {
    width: 24px;
    height: 24px;
}
.quick-link {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.title-quick {
    font-weight: 600;
    font-size: 25px;
    white-space: nowrap;
}
.subtitle-link {
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
}
.news-letter {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.news-blok {
    display: flex;
    flex-direction: column;
    gap: 33px;
}
.address {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 369px;
    height: 50px;
    border-radius: 4px;
}
.email-address {
    color: #6C6C72;
    font-weight: 400;
    font-size: 16px;
    padding: 18px 18px;
}
.send-plane {
    width: 24px;
    height: 24px;
}
.send-plane-wrapper {
    background-color: #5956E9;
    width: 52px;
    height: 46px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-left: 140px;
}
.vnutri-palki {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}
.palochka {
    width: 1167px;
    height: 1px;
    background-color: white;
    margin: 67px auto 0 auto;
}
.copy {
    width: 24px;
    height: 24px;
}
.copyright-li {
    font-weight: 400;
    font-size: 16px;
    color: white;
}