@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');

body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
}

.wrapper {
  background-image: url('img/fon.png');
  width: 100%;
  min-height: 1024px;
}

a {
    text-decoration: none;
}
header nav ul li:not(.home):not(.btn) a {
    color: black;
}
header nav ul li.btn a {
    background: #5956E9;
    padding: 12px 15px 8px 16px;
    border-radius: 5px;
    color: white;
}

.container {
    width: 1171px;
    margin: 0 auto;
    padding: 91px 0;
}

header {
    padding: 40px 0;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul li {
    color: black;
}

.logo {
    width: 167px;
    height: 28px;
    padding: 30px 17px 32px 16px;
}

.logo-wrapper {
    background-color: white;
    border-radius: 5px;
    width: 200px;
    height: 90px;
}

header nav {
    background-color: white;
    width: 100%;
    height: 60px;
    border-radius: 5px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
}

.left {
    list-style: none;
    gap: 40px;
    float: left;
    font-size: 20px;
    padding: 0 110px 0 5px;
}

.right {
    list-style: none;
    gap: 40px;
    float: right;
    font-size: 20px;
    padding: 0 5px 0 39px;
}

.home {
    text-decoration: underline;
}
.hero {
    padding-bottom: 40px;
}

.hero--info {
    width: 570px;
    height: 432px;
    background-color: white;
}

.hero--info h1 {
    color: #5956E9;
    font-size: 48.83px;
    font-weight: 700;
    padding: 40px 23px 0 30px;
    line-height: 130%;
}
.hero--info p {
    color: #6C6C72;
    font-size: 16px;
    font-weight: 400;
    padding: 18px 53px 52px 30px;
    line-height: 24px;
}

.hero--info h2 {
    color: #232233;
    font-size: 25px;
    font-weight: 600;
    padding: 0 0 5px 30px;
}

.mobilka {
    position: absolute;
    width: 646px;
    height: 725px;
    left: 879px;
    top: 246px;
}
.contact-item {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 0 0 20px 0;
}
.mail {
    width: 18px;
    height: 18px;
}
.contact-item a {
    color: white;
}
.phone {
    padding: 0 18px 0 47px;
}

.four-elements {
    width: 162px;
    height: 18px;
    padding: 0 0 0 580px;
}
.google {
    position: absolute;
    width: 149px;
    height: 47px;
    padding: 5px 14px 40px 30px;
}
.appstore {
    position: absolute;
    width: 149px;
    height: 47px;
    padding: 3px 226px 40px 193px;
}
/* Моя реализация стилей для двух блоков ABOUT OUR APP И APP FEATURES */

/* about our app */
.about-our-app-wrapper {
    display: flex;
    gap: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-our-app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.about-our-app-android-image {
    max-width: 386px;
    width: 100%;
    height: 526px;
}

.about-our-app-title {
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47.25px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.about-our-app-subtitle-container {
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.about-our-app-subtitle-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6C6C72;
}

.about-our-app-card {
    max-width: 570px;
    width: 100%;
    padding: 30px 20px 20px 20px;
    box-shadow: 0px 1px 10px 0px #0000001A;
    border-radius: 10px;
    background: #FFFFFF;
    display: flex;
    gap: 17px;
}

.about-our-app-card-image {
    align-self: flex-start;
}

.about-our-app-card-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about-our-app-card-text h2 {
    font-weight: 600;
    font-size: 20px;
}

.about-our-app-block-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about-our-app-cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


/* app features */
.app-features-wrapper {
    background: url('img/fon.png') no-repeat center center / cover;;
}

.app-features-container-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.app-features-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.app-features-title {
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47.25px;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
}

.app-features-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.app-features-block-wrapper {
    display: flex;
    gap: 50px;
}

.app-features-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.app-features-outer-block {
    align-items: center;
}

.app-features-image {
    max-width: 50px;
    width: 100%;
    height: 50px;
}

.app-features-inner-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #FFFFFF;
}

.app-features-inner-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
    vertical-align: bottom;
    text-transform: uppercase;

}

.app-features-inner-title h3 {
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
    vertical-align: bottom;
    text-transform: uppercase;

}

.app-features-inner-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 297px;
}

.app-features-phone-image {
    border-radius: 40px;
}

.app-features-left-side-image {
    align-self: flex-end;
}